@model List<Orders>


<h2>List of Orders</h2>

<h2 class="message">@TempData["Message"]</h2>

<a asp-controller="OrdersManager" 
   asp-action="Insert" 
   class="linkbutton">Insert</a>

<br /><br />

<table border="1">
    <tr>
        <th>Order ID</th>
        <th>Customer ID</th>
        <th>Employee ID</th>
        <th>Order Date</th>
        <th>Required Date</th>
        <th>Shipped Date</th>
        <th>Ship Via</th>
        <th>Freight</th>
        <th>Ship Name</th>
        <th>Ship Address</th>
        <th>Ship City</th>
        <th>Ship Region</th>
        <th>Ship Postal Code</th>
        <th>Ship Country</th>
        <th colspan="2">Actions</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.OrderID</td>
            <td>@item.CustomerID</td>
            <td>@item.EmployeeID</td>
            <td>@item.OrderDate</td>
            <td>@item.RequiredDate</td>
            <td>@item.ShippedDate</td>
            <td>@item.ShipVia</td>
            <td>@item.Freight</td>
            <td>@item.ShipName</td>
            <td>@item.ShipAddress</td>
            <td>@item.ShipCity</td>
            <td>@item.ShipRegion</td>
            <td>@item.ShipPostalCode</td>
            <td>@item.ShipCountry</td>
            

            <td>
                <a asp-controller="OrdersManager" 
                   asp-action="Update"
                   asp-route-id="@item.OrderID" class="linkbutton">Update</a> 
            </td>
            <td>
                <a asp-controller="OrdersManager"
                   asp-action="Delete"
                   asp-route-id="@item.OrderID" class="linkbutton">Delete</a>
            </td>
        </tr>
    }
</table>