@model List<Products>

<h2>List of Products</h2>

<h2 class="message">@TempData["Message"]</h2>

<a asp-controller="ProductsManager" 
   asp-action="Insert" 
   class="linkbutton">Insert</a>

<br /><br />

<table border="1">
    <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Supplier ID</th>
        <th>Unit Price</th>
        <th>Units in Stock</th>
        <th>Units on Order</th>
        <th>Discontinued?</th>       
        <th colspan="2">Actions</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.ProductID</td>
            <td>@item.ProductName</td>
            <td>@item.SupplierID</td>
            <td>@item.UnitPrice</td>
            <td>@item.UnitsInStock</td>
            <td>@item.UnitsOnOrder</td>
            <td>@item.Discontinued</td>
            <td>
                <a asp-controller="ProductsManager" 
                   asp-action="Update"
                   asp-route-id="@item.ProductID" class="linkbutton">Update</a> 
            </td>
            <td>
                <a asp-controller="ProductsManager" 
                   asp-action="Delete"
                   asp-route-id="@item.ProductID" class="linkbutton">Delete</a> 
            </td>
        </tr>
    }
</table>